<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Battleship.IO</title>
  <!-- LINK STYLESHEETS -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="header">
    <h1>Battleship.IO</h1>
    <h3 class="subtitle">Online real-time battleship game</h3>
  </div>
  <table class="board"></table> 
  </table>

  <!-- JS IMPORTS -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>