* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotron {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
}

button:disabled {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table,
th,
td {
  border: 2px solid black;
}

.board {
  height: 400px;
  width: 400px;
  border: 3px solid white;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.tile {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.enemy-board {
  height: 400px;
  width: 400px;
  border: 3px solid white;
  margin: auto;
  text-align: center;
}

.enemy-tile {
  height: 40px;
  width: 40px;
  cursor: crosshair;
}

.enemy-tile:hover {
  background-color: salmon;
}

.hover-place {
  background-color: #ededed;
}

.hit {
  background-color: red;
}

.placed {
  background-color: #808080;
}

.not-placeable {
  cursor: not-allowed;
}

.controls {
  text-align: center;
  margin: 30px 0;
}

.active-btn {
  background-color: #1f56ad;
}

.ready-ctn {
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ships {
  margin-top: 5px;
}

.ready-err {
  display: none;
}